body {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.719);
}

html,body{
  overflow-y: auto;
  overflow-x: hidden;
}

p{
  overflow-y: hidden;
  overflow-x: hidden;
}

.ul-2{
    list-style-type: none;
  display: flex;
  
   
}

.ul-1{
  list-style: none;
  padding: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.5s;
}

nav {
  align-items: center;
  background-color: rgba(98, 174, 218, 0.719);
  padding: 0 20px;
  justify-content: space-between;
  
}

/* Header */

.logo {
  padding: 0 0;
  width: 150px;
}

nav,.ul-1 {
  display: flex;
  flex-direction: row;
  
}

li {
  padding: 0 15px;
  font-size: 25px;
  font-family: sans-serif;
  
}
a:hover {
  transition: 1s;
  border-radius: 5px;
  color: black;
  opacity: 0.9;
  background-color: rgba(181, 255, 255, 0.5);
}

.Home-2 {
    text-decoration: none;
    color: black;
}
 
  .início-2 {
    text-decoration: none;
    color: black;
}
  .História-2 {
    text-decoration: none;
    color: black;
}

.grupowhats{
  text-decoration: none;
    color: black;
}

.Home {
  text-decoration: none;
  color: black;
}

.Sobre-Nós{
  text-decoration: none;
  color: black;
}

.História {
  text-decoration: none;
  color: black;
}

.insta-1 {
  position: absolute;
  left: 180px;
  top: 79px;

  width: 60px;
}

.face-1 {
  position: absolute;
  left: 250px;
  top: 80px;
  width: 55px;
}



/* Buton */

button{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

button:hover {
    transition: 0.5s;
    border-radius: 5px;
    color: black;
    opacity: 0.9;
    background-color: rgba(181, 255, 255, 0.5);
}

button:focus ~ ul{
    height:310px;
}

/* Responsividade */

@media screen and (max-width: 700px){
 
    nav{
        width: 100%;
    }
    
    .ul-2{
        list-style-type: none;
        display: none;
    }


    nav, .ul-1{
        flex-direction: column;
        align-items: unset;

    }

    li{
        padding: 20px;
        width: 100%;
    }
    .insta-1 {
        position: absolute;
        left: 200px;
        top: 79px;
        width: 60px;
      }
      
      .face-1 {
        position: absolute;
        left: 270px;
        top: 82px;
        width: 55px;
      }

    button{
        display: flex;
    }

    .redondasbth{
     display: none;
    }

    .History{
      max-width: 50px;
   
   }
}


/* card 1 pc */

 
main.cards{
 display: flex;
 padding: 32px;
  
}

main.cards section.card:first-child{
   margin-left: 0;
}

main.cards section.card {
 flex-direction: column;
 background-color: rgba(98, 174, 218, 0.719);
 padding: 1rem;
 border-radius: 35px;
 height: 550px;
 width: 700px;
 margin-left: 15px;
}



main.cards section.card img{
  width: 100%;
  height: 25rem;
  border-radius: 35px;
}

main.cards section.card span{
  font-weight: 525;
  max-width: 750px;
  margin-bottom: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}


@media screen and (max-width: 800px) {
  main.cards{
    display: none;
  }
  
  
}


/* Nossa história */

.redondasbth{
  overflow-y: hidden;
  overflow-x: hidden;
  height: 205px;
  position: absolute;
  margin-top: -40px;
  margin-left: 820px;
  
}

.History{
   
   font-size: 25px;
   max-width: 750px;
   display: inline-block;
   font-family:'Lato', sans-serif;
   height: 150px;
   margin-left:5%;

}

.camp{
  display: inline-block;
  width:851px;
  height: 500px;
  background-color: rgba(98, 174, 218, 0.719);
  margin-bottom: 25px;
  border-radius: 35px;
  margin-left:171px;

}

.imgcamp{
  display: inline-block;
  height: 480px;
  margin-top: 10px;
  margin-left: 15px;
 width: 350px;
 border-radius: 35px;
}

.textcamp{
  position: absolute;
  display: inline;
  font-size: 25px;
  font-family:'Lato', sans-serif;
  text-align: center;
  max-width: 450px;
  margin-top: 5px;
  margin-left: 15px;
}

@media screen and (max-width: 700px){
  
  .camp{
    display: inline-block;
    width:98%;
    height: 935px;
    margin-left: 1%;
  }
  .imgcamp{
    display: inline-block;
    height: 380px;
    margin-left: 6%;
    width: 320px;
    border-radius: 35px;
  }

  .textcamp{
    position: absolute;
    display: block;
    font-size: 23px;
    font-family:'Lato', sans-serif;
    text-align: center;
    max-width: 350px;
    margin-top: 5px;
    margin-left: 5px;
  }

  
}

/* Barcas */

.comofuncionaasbarcas{
  margin: 0;
  width:auto;
  height:835px;
  background-color: rgb(255, 255, 255);
}

.barcas{
font-size: 30px;
font-family: sans-serif;
margin-left: 5%;
margin-top: 0;
margin-bottom: 0;
}

/* Barcas introdução foto do furgão */

.introduc{
  position: absolute;
  margin-left: 5%;
  margin-top:2%;
  width: 800px;
  height: 350px;
  background-color: rgb(255, 255, 255);
}

.furgao{
  
  display: inline;
  width: 250px;
  padding-top: -30px;
}

.textfurgao{

  position: absolute;
  display: inline;
  font-size: 25px;
  font-family: sans-serif;
  padding-left: 20px;
  padding-top: 25px;
}

/* Barcas custos foto do custos */
.custos{
  
    position: absolute;
    margin-left: 53%;
    margin-top:2%;
    width: 800px;
    height: 350px;
    
}

 .custoss{
  display: inline;
  width: 210px;
  padding-top: 25px;
 }

 .textcustos{
  position: absolute;
  display: inline;
  font-size: 25px;
  font-family: sans-serif;
  padding-left: 20px;
  padding-top: 25px;
 }


/* Barcas funcoes foto da duvida*/
.func{

  position: absolute;
  margin-left: 5%;
  margin-top:22%;
  width: 800px;
  height: 350px;
  
}

.duvidaimg{
   display: inline;
   width: 250px;
   padding-top: -30px;
}

.textduvidas{
  position: absolute;
  display: inline;
  font-size: 25px;
  font-family: sans-serif;
  padding-left: 20px;
  padding-top: 25px;
}

/* Barcas cotação foto da cotação*/
.cotacao{
  position: absolute;
  margin-left: 53%;
  margin-top:22%;
  width: 800px;
  height: 350px;
}

.cotac{
  display: inline;
  width: 220px;
  padding-top: -30px;
}

.cotaçãotext{
  position: absolute;
  display: inline;
  font-size: 25px;
  font-family: sans-serif;
  padding-left: 20px;
  padding-top: 25px;
}

/* footer */

.hrlinha{
  
  margin: auto;
  width: 100%;
  border: 10px solid rgba(176, 219, 243, 0.719);
  
  
}
 
footer{
  background-color: rgba(98, 174, 218, 0.719);
}


.fotredes{
 
  width:185px;
  height: 120px;
  margin: auto;
}

.insta-footer{
  
  position: absolute;
  padding-top: 0.5rem;
  margin: auto;
  width: 5.4rem;
  }
  
  .face-footer{
    position: absolute;
    width: 5rem;
    padding-top: 0.8rem;
    margin-left: 110px;
  }

  .redondfoter{
    position: relative;
    margin: auto;
    width: 7%;
    margin-top: -25px;
    margin-left: 47%;
  }

   .Grup{
     
     border-radius: 55px;
     margin: auto;
     background-color: rgb(65, 196, 82);
     width: 350px;
     height: 95px;
   }
 
    .whatsfoter{
      position: absolute;
      width: 4%;
      margin-top: 0px;
      margin-left: 20px;
    }
     
    .grupofooter{
      position: absolute;
      font-size: 30px;
      margin-top: 30px;
      margin-left: 100px;
      font-family: sans-serif;
      color: black;
      font-weight: 700;
    }

    .textsociais{
      font-family: sans-serif;
      font-size: 25px;
      margin-top: -20px;
      text-align: center;
    }



  @media screen and (max-width: 700px){
  
    .hrlinha{
      margin-top: 15px;
    }
    .redondfoter{
      position: relative;
      margin: auto;
      width: 30%;
      margin-top: -25px;
      margin-left: 38%;
    }
    
    .whatsfoter{
      width: 20%;
      
    }


    .comofuncionaasbarcas{
      width:auto;
      height:1785px;
      background-color: rgb(255, 255, 255);
    }
    
    .introduc{
      position: relative;
        margin: auto;
        width: 355px;
        height: 350px;
      
    }
    .custos{
      
      position: relative;
        margin: auto;
        width: 355px;
        height: 350px;
        
      }
    
    .func{
      margin-top: 1rem ;
      position: relative;
        width: 355px;
        height: 350px;
        
      }
    
    
    
    .cotacao{
      margin-top: 11rem;
      margin-left: 5%;
      position:relative;
        width: 355px;
        height: 350px;
        
      }

      .furgao{
  
        display: block;
        width: 150px;
        margin-top: -20px;
        margin: auto;
      }
      
      .textfurgao{
      
        position: absolute;
        display: inline;
        font-size: 25px;
        font-family: sans-serif;
        padding-left: 20px;
        margin-top: -45px;
        
      }

      .custoss{
        padding-top: 55px;
        display: block;
        width: 150px;
        
        margin: auto;
       }
      
       .textcustos{
        
        display: inline;
        font-size: 25px;
        font-family: sans-serif;
        padding-left: 20px;
        margin-top: -20px;
       }

       .duvidaimg{
        padding-top:30px;
        display: block;
        width: 150px;
        margin: auto;
     }
     
     .textduvidas{
      display: inline;
      font-size: 25px;
      font-family: sans-serif;
      padding-left: 20px;
      margin-top: -20px;
     }
     
     .cotac{
      padding-top:30px;
        display: block;
        width: 150px;
        margin: auto;
    }
    
    .cotaçãotext{
      display: inline;
      font-size: 25px;
      font-family: sans-serif;
      padding-left: 20px;
      margin-top: -20px;
    }

    }
  